# Visual Studio
.vs/
*.suo
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Build outputs
bin/
obj/
x64/Debug/
x64/Release/

# Executables
*.exe
*.dll

# Debug files
*.pdb
*.ilk

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/